.inner-wrap-trdn-team {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
}
.trdnPlrOuter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0px 20px;
  margin: 40px 0px;
  background: #2d325a;
  border-radius: 10px;
  max-height: 90px;
  min-height: 90px;
}
.trdnPlr_img_det_img img.img-fluid {
  vertical-align: bottom;
  position: relative;
  top: -5px;
  max-height: 100px;
}
.trdnPlr_img_det_sccr_value span.fnt-12 {
  font-size: 13px;
}
.trdnPlr_img_det_sccr_value span.txt-pnk {
  font-size: 18px;
}
.trdnPlr_img_det {
  display: flex;
  align-items: center;
}
.trdnPlr_img_det_sccr {
  display: flex;
  align-items: center;
}

.trdnPlr_img_det_img {
  width: 100px;
  margin-right: 25px;
  text-align: center;
}
.trdnPlr_img_det_pos {
  width: 50px;
}
.trdnPlr_img_det_name {
  width: 150px;
}
.pg_hdng {
  font-size: 28px;
  color: white;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}
.txt-pnk {
  color: #ff0882;
}
.trdnPlr_img_det_sccr_value {
  margin-right: 25px;
  text-align: center;
}

.upVoteActive img {
  content: url("/assets/images/icons/up_white.png");
}
.downVoteActive img {
  content: url("/assets/images/icons/down_white.png");
}

.upVote {
  margin-right: 15px;
  border: 2px solid #ff0882;
  color: #ff0882;
  min-width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.downVote {
  margin-right: 15px;
  border: 2px solid #f65164;
  color: #f65164;
  min-width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.upVoteActive {
  margin-right: 15px;
  background: #ff0882;
  color: white;
  min-width: 140px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.downVoteActive {
  margin-right: 15px;
  background: #f65164;
  color: white;
  min-width: 140px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.fnt-12 {
  font-size: 10px;
}
.upVote:hover {
  background-color: #ff0882;
  color: white;
}
.downVote:hover {
  background-color: #f65164;
  color: white;
}
.upVote:hover img {
  content: url("/assets/images/icons/up_white.png");
}
.downVote:hover img {
  content: url("/assets/images/icons/down_white.png");
}
.min_hght {
  min-height: 59vh;
}

::ng-deep .pagination {
  cursor: pointer !important;
}
@media only screen and (max-width: 915px) {
  .trdnPlr_img_det_sccr {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .trdnPlr_img_det_name {
    width: 100%;
    flex-basis: content;
  }
}
@media only screen and (max-width: 600px) {
  .trdnPlr_img_det_vote {
    flex-direction: column;
  }
  .downVote {
    margin-top: 10px;
  }
  .trdnPlr_img_det {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
}

@media only screen and (max-width: 450px) {
  .trdnPlrOuter {
    flex-direction: column;
  }
  .trdnPlr_img_det_vote {
    margin-top: 15px;
    flex-direction: row;
  }
  .downVote {
    margin-top: 0px;
  }
  .trdnPlrOuter {
    padding: 10px 20px;
    max-height: 180px;
  }
}
