.txt_input {
  background: #383d67;
  border: none;
  width: 260px;
  height: 40px;
  border-radius: 8px;
  color: white;
  padding-left: 10px;
  font-size: 16px;
}
.snd_btn {
  background: #ff0882;
  color: white;
  width: 100%;
  font-size: 12px;
  padding: 8px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #6a6f95;
  font-size: 12px;
  padding-left: 6px;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: #6a6f95;
  font-size: 12px;
  padding-left: 6px;
}

::placeholder {
  color: #6a6f95;
  font-size: 12px;
  padding-left: 6px;
}
::ng-deep .otp-input {
  width: 40px !important;
  height: 40px !important;
  background: #383d67;
  border: #383d67 !important;
  color: white;
  font-size: 16px !important;
  // margin-right: 20px !important;
}
.ng_otp {
  padding-left: 23px;
}
.form-group label {
  text-align: center;
}
::ng-deep .wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ng_otp {
  padding-left: 0px;
  width: 83%;
  margin: 0 auto;
}

@media (max-width:767px) {
  .modal.show .modal-dialog {
      margin: 0 auto;
  }
}

::ng-deep .toast-error {
  background-color: #2d325a;
  box-shadow: 4px 3px 8px 1px #d98080;
  -webkit-box-shadow: 4px 3px 8px 1px #de7474;
  .toast-title {
    color: #ff0882;
  }
}