.trnd_plr_team{
    color: rgba(255, 255, 255, 0.32);
    cursor: pointer;
    text-decoration: none;
}

.d-flex.dflex_wrap {
    width: 50%;
    flex-wrap: wrap;
    position: relative;
}
.ftr_menu {
    width: 30%;
    font-size: 16px;
}

.follw_heads {
    font-size: 14px;
}