<div class="footer mt-5" style="background: #2D325A;">
    <div style="display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 20px 40px;
    color: #71748F;">
        <div><a class="navbar-brand" href="/"><img src="/assets/images/icons/logo.png"></a></div>
        <div class="d-flex dflex_wrap">
            <div style="margin-right: 20px;" class="ftr_menu">
                <div class="mb-2">
                    <a routerLink="/trendingPlayer" class="trnd_plr_team">Trending Players</a>
                </div>
                <div>
                    <a></a>
                </div>
            </div>
            <div style="margin-right: 20px;" class="ftr_menu">
                <div class="mb-2">
                    <a routerLink="/trendingTeams" class="trnd_plr_team">Trending Teams</a>
                </div>
                <div>
                    <a></a>
                </div>
            </div>
            <div class="ftr_menu">  <a routerLink="/news" class="trnd_plr_team">News</a></div>
        </div>
        <div>
            <div class="follw_heads">Follow us on</div>
            <div class="d-flex mt-2">
                <div>
                    <a href="https://www.facebook.com/esports91/" target="_blank">
                        <img src="assets/images/icons/facebook.png" style="width: 30px;
                    background: rgba(113, 116, 143, 0.6);
                    padding: 7px;
                    border-radius: 15px;
                    margin-right: 8px">
                    </a>
                </div>
                <div>
                    <a href="https://twitter.com/esports91?s=11" target="_blank">
                        <img src="assets/images/icons/twitter.png" style="width: 30px;
                        background: rgba(113, 116, 143, 0.6);
                        padding: 7px;
                        border-radius: 15px;
                        margin-right: 8px">
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/esports.91/" target="_blank">
                        <img src="assets/images/icons/instagram.png" style="width: 30px;
                        background: rgba(113, 116, 143, 0.6);
                        padding: 7px;
                        border-radius: 15px">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
