<div class="main">
    <div class="tournamnet_bg"> </div>
    <section class="inner-wrap">
        <div class="row team_detls_outer">
            <div class="col-md-4">
                <div class="match_sidebar text-center" style="position: relative;">
                    <div class="match_sidebar_matchLiveIcon">Live</div>   
                    <div class="text-center mt-4 mb-4">
                        <div style="font-size: 20px;font-weight: 600;">Match 1</div>
                        <div style="font-size: 18px;">Erangle</div>
                    </div>
                    <div class="brdr" style="margin: 15px;"> </div>
                    <ul class="widget match_sidebar_list mt-3"
                    style="padding: 20px;">
                    <li>
                        <span class="title mr_15">Platform</span>
                        <span class="mr_15"><img src="assets/images/home/gun.png"></span>
                        <span class="text">Platform</span>
                    </li>
                    <li>
                        <span class="title mr_15">Platform</span>
                        <span class="mr_15"><img src="assets/images/home/gun.png"></span>
                        <span class="text">Platform</span>
                    </li>
                    <li>
                        <span class="title mr_15">Platform</span>
                        <span class="mr_15"><img src="assets/images/home/gun.png"></span>
                        <span class="text">Platform</span>
                    </li>
                    <li>
                        <span class="title mr_15">Platform</span>
                        <span class="mr_15"><img src="assets/images/home/gun.png"></span>
                        <span class="text">Platform</span>
                    </li>
                    <li>
                        <span class="title mr_15">Platform</span>
                        <span class="mr_15"><img src="assets/images/home/gun.png"></span>
                        <span class="text">Platform</span>
                    </li>
                    <li>
                        <span class="title mr_15">Platform</span>
                        <span class="mr_15"><img src="assets/images/home/gun.png"></span>
                        <span class="text">Platform</span>
                    </li>

                </ul>
                </div>
                
            </div>
            <div class="col-md-8">
              
                <!-- <div class="updn_btn mb-5">
                   
                </div> -->
                <div class="tab_outer">
                    <mat-tab-group >
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span style="font-weight: 600;">Overview</span>
                            </ng-template>
                            <div class="container mb-5 mt-3">
                               
                                            <div class="row">
                                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <ul class="widget w-personal-info mt-3"
                                                        style="list-style-type: none;">
                                                        <li>
                                                            <span class="title">About</span>
                                                            <span class="text">{{tournamentData?.description ? tournamentData?.description : '&nbsp;'}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Organiser</span>
                                                            <span class="text">{{tournamentData?.Organizer ? tournamentData?.Organizer : '&nbsp;'}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Location</span>
                                                            <span class="text">{{tournamentData?.venue ? tournamentData?.venue : '&nbsp;'}}</span>
                                                        </li>
                                                        <li>
                                                            <span class="title">Start Date</span>
                                                            <span class="text">{{tournamentData?.start_date ? tournamentData?.start_date : '&nbsp;'}}</span>
                                                        </li>

                                                        <li>
                                                            <span class="title">End Date</span>
                                                            <span class="text">{{tournamentData?.end_date ? tournamentData?.end_date : '&nbsp;'}}</span>
                                                        </li>

                                                        <li>
                                                            <span class="title">Caster</span>
                                                            <span class="text">{{tournamentData?.caster ? tournamentData?.caster : '&nbsp;'}}</span>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
        
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>

                                <span style="font-weight: 600;">Teams</span>
                            </ng-template>
                            <div class="container mb-5 mt-3">
                                <div class="row">
                                    <div class="col-md-12 sldr_hght">
                                        <div class="trdnPlrOuter" *ngFor="let item of tournamentTeams; let i = index">
                                            <div  class="trdnPlr_img_det crsr_pntr" (click)="gotoTeams(item,i)">
                                                <div class="trdnPlr_img_det_pos" style="font-size: 18px;">
                                                    #{{i +1}}
                                                </div>
                                                <div class="trdnPlr_img_det_img">
                                                    <div class="style_tt_thum" [style.background-image]="'url(' + getImageUrl(item?.team__team_logo) + ')'"></div>
                                                    <img [src]="getImageUrl(item?.team__team_logo)" class="img-fluid">
                                                </div>
                                                <div class="trdnPlr_img_det_name">
                                                    <a  style="color: white;font-size: 18px;">
                                                        {{item.team__name | uppercase}}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="trdnPlr_img_det_vote d-flex">
                                                <button class="btn" [ngClass]="getUpVoteClass('tournaments',item.team__id)" (click)="upVote('tournaments',item.team__id)">
                                                    <img src="assets/images/icons/up_red.png"
                                                        style="width: 15px; margin-right: 10px;margin-bottom: 3px;">
                                                    <span style="margin-right: 10px;">Upvote</span>{{item.tournament_team_upvote__score}}
                                                </button>
                                                <button class="btn" [ngClass]="getDownVoteClass('tournaments',item.team__id)" (click)="downVote('tournaments',item.team__id)">
                                                    <img src="assets/images/icons/down_red.png" style="width: 15px; margin-right: 10px;">
                                                    <span style="margin-right: 10px;">Downvote</span>{{item.tournament_team_downvote_score}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <span style="font-weight: 600;">Matches</span>
                            </ng-template>
                            <div class="container mb-5 mt-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12 sldr_hght">
                                                    <div class="matchesOuter matchesOuterBgImages" [style.background-image]="'url(' + getTemasBgUrl(item?.team_logo) + ')'" *ngFor="let item of tournamentMatches; let i = index">
                                                       
                                                        <div  class="text-center">     
                                                            <div class="matchLiveIcon">Live</div>                                                  
                                                            <div class="" (click)="openLiveMatchDetails(item)">
                                                                <div>
                                                                    <a  style="color: white;font-size: 18px;">
                                                                        {{item.name}}
                                                                    </a>
                                                                </div>
                                                               
                                                                <div style="margin: 5px;">
                                                                    <a  style="color: white;font-size: 14px;">
                                                                        {{item.tournament__name}}
                                                                    </a>
                                                                </div>
                                                                
                                                                <div>
                                                                    <a  style="color: white;font-size: 14px;">
                                                                        {{item.start_date | date: 'medium'}}
                                                                    </a>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </div>
            </div>
        </div>
    </section>

    <!-- certificate modal start -->

<div class="modal fade" id="link" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
  <div class="modal-content cust_modal">
    <div class="modal_close" data-dismiss="modal" aria-label="Close">
      <img
        src="/assets/img/ICONS/cross_white.png"
        class="img-fluid"
        width="100%"
        alt=""
      />
    </div>
    <div class="modal-body modal-custom-body">
      <div data-dismiss="modal" aria-label="Close" class="modal_close">
        <img
          src="/assets/images/icons/cross_white.png"
          width="100%"
          alt=""
          class="img-fluid"
        />
      </div>
      <ng-container class="mb-2">
        <div class="mb-4 modl_hdr_bg" style="background-image: url('assets/images/home/tournamnet_team_bg.png');">
          <div style="font-weight: 600; font-size: 18px">{{currentMatch}}</div>
        </div>
      </ng-container>
     <div>
        <div class="tab_outer">
            <mat-tab-group >
                <mat-tab>
                    <ng-template mat-tab-label>

                        <span style="font-weight: 600;">Teams</span>
                    </ng-template>
                    <div class="container mb-5 mt-3">
                       
                        <div class="row">
                            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <mat-accordion>

                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false"
                                        *ngFor="let pointTableTeam of pointTableTeamsData" >
                                        <mat-expansion-panel-header class="mat_act">
                                            <mat-panel-title>
                                                <span> <img [src]="getImageUrlTeam(pointTableTeam?.team_logo)" style="width: 20px;margin-right: 20px;"></span>
                                                <span>{{pointTableTeam?.team_name}} </span>
                                            </mat-panel-title>
                                            <mat-panel-description class="mr_50">
                                                <div class="panelDescriptionDes">
                                                <div>{{pointTableTeam?.squad_name}} </div>
                                            </div>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="mb-3 ply_accdn"
                                            *ngFor="let player of pointTableTeam?.all_player">
                                            <span>
                                                <img [src]="getImageUrl(player?.profile_pic)" class="profile_pic_sz">
                                            </span>
                                            <span
                                                style="color:#D0D0D0;">{{player?.name}}</span>
                                                <span
                                                style="color:#D0D0D0;">{{player?.ign}}</span>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
        </div>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span style="font-weight: 600;">Points Table</span>
                    </ng-template>
                    <div class="container mb-5 mt-3">
                       
                        <div class="row">
                            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <mat-accordion>

                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false"
                                        *ngFor="let pointTable of pointTableData" >
                                        <mat-expansion-panel-header class="mat_act">
                                            <mat-panel-title>
                                                <span> <img src="assets/images/icons/squad.png" style="width: 20px;margin-right: 20px;"></span>
                                                <span>{{pointTable?.name}} </span>
                                            </mat-panel-title>
                                            <mat-panel-description class="mr_50">
                                                <div class="panelDescriptionDes">
                                                <div>{{pointTable?.kills}} </div>
                                                <div>{{pointTable?.placement}} </div>
                                                <div>{{pointTable?.mr}} </div>
                                                <div>{{pointTable?.pts}} </div>
                                            </div>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <div class="mb-3 ply_accdn"
                                            *ngFor="let player of pointTable?.players">
                                            <span>
                                                <img [src]="getImageUrl(player?.profile_pic)" class="profile_pic_sz">
                                            </span>
                                            <span
                                                style="color:#D0D0D0;">{{player?.name}}</span>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>

        </div>
     </div>
    </div>
  </div>
</div>
</div>
<!-- certificate modal end -->
</div>
<app-login-popup #loginPopup (loadDataEvent)="loadData()"></app-login-popup>