<!-- main app container -->
<div class="main">
    <!-- {{item.name}} -->
    <section class="inner-wrap">
    <div class="mt-5 pg_hdng">
        <form  class="navbar-form navbar-left ng-untouched ng-pristine ng-valid">
            <div  class="input-group" style="display: flex;align-items: center;max-width: 450px;margin: 0 auto;">
                <!-- <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <i class="pi pi-search">H</i>
                    </button>
                </div> -->
                <input type="text" placeholder="Search" name="searchKey" [(ngModel)]="searchKey" class="form-control serch_fld" (keyup)="searchhValue()">
                <div >
                    <select name="searchType" id="searchType" class="slt_opt" [(ngModel)]="searchType" (click)="selectSearchType()">
                        <option value="all">All</option>
                        <option value="players">Player</option>
                        <option value="teams">Team</option>
                      </select>
                </div>
            </div>
        </form>
    </div>
    <div class="trdnPlrOuter csr_pntr" *ngFor="let item of pageOfItems; let i = index">
        <div  class="trdnPlr_img_det csr_pntr" (click)="gotoDetailsPage(item)">
            <div class="trdnPlr_img_det_pos" >
                #{{i + 1}}
            </div>
            <div class="trdnPlr_img_det_img" >
                <img [src]="getImageUrl(item?.pic_without_bg)" style="    max-width: 110px;
                max-height: 110px;
                position: relative;
                top: -8px;">
            </div>
            <div class="trdnPlr_img_det_name">
                <a style="color: white;" >
                    {{item.name}}
                </a>
            </div>
        </div>
        <div class="trdnPlr_img_det_sccr csr_pntr" (click)="gotoDetailsPage(item)">
            <div class="trdnPlr_img_det_sccr_value">
                <span>10 - 8 </span>
                <br>
                <span class="txt-pnk">264</span>
            </div>
            <div class="trdnPlr_img_det_sccr_value">
                <span>10 - 8 </span>
                <br>
                <span  class="txt-pnk">264</span>
            </div>
            <div class="trdnPlr_img_det_sccr_value">
                <span>10 - 8 </span>
                <br>
                <span class="txt-pnk">264</span>
            </div>

        </div>
        <!-- <div class="trdnPlr_img_det_vote">
            <button class="btn" [ngClass]="getUpVoteClass(item?.type,item?.id)"  (click)="upVote(item?.type,item?.id)">
                <img src="assets/images/icons/up_red.png"
                    style="width: 15px; margin-right: 10px;margin-bottom: 3px;">
                <span style="margin-right: 10px;" >Upvote</span>{{item?.upvote_score}}
            </button>
            <button class="btn" [ngClass]="getDownVoteClass(item?.type,item.id)" (click)="downVote(item?.type,item?.id)">
                <img src="assets/images/icons/down_red.png" style="width: 15px; margin-right: 10px;">
                <span style="margin-right: 10px;">Downvote</span>{{item?.downvote_score}}
            </button>
        </div> -->
    </div>
    <div class="cntr">
        <jw-pagination [items]="searchData" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
</section>
</div>


<app-login-popup #loginPopup (loadDataEvent)="loadData()"></app-login-popup>