.min_hght {
  min-height: 66vh;
}
.news_pddng {
  padding: 40px;
}
.news_card1 {
  cursor: pointer;
  padding: 0px !important;
  background: #2d325a;
  border-radius: 15px;
  margin-left: 15px;
    margin-right: 15px;
  width: 30%;
  margin-top: 25px;
  overflow: hidden;
  position: relative;
}
.news_card1-logo {
  overflow: hidden;
}
.news_card1-date {
  color: white;
}
.news_card1-title {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.6;
  color: white;
}
.news_card1-logo img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}


@media only screen and (max-width: 760px) {
  .news_card1 {
    margin: 50px;
  }
}
@media only screen and (max-width: 450px) {
  .news_pddng {
    padding: 0px;
  }
}


/*========style 07-04-2022=========*/

.nw-ttl {
  font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
    cursor: pointer;
}
.nw-ttl:hover {
  color: #ff0882;
}

.descrp_news {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.6;
}

p.anchor_readmore {
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
  padding-top: 15px;
  transition: 0.3s;
}
p.anchor_readmore:hover {
  color: #ff0882;
}
p.anchor_readmore span {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding-right: 10px;
}
p.anchor_readmore svg {
  width: 14px;
  position: relative;
  top: -1px;
}