<p>news works!</p>
<!-- main app container -->
<div *ngIf="loader" class="loader_container">
  <mat-progress-spinner
    style="top: 40%; left: 50%"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
<div class="main min_hght">
  <div class="container">
    <div class="row justify-content-start ">
      <div class="news_card1" *ngFor="let news of newsDetails">
        <a (click)="gotoNews(news)" style="text-decoration: none">
          <div class="news_card1-logo">
            <img
              [src]="getImageUrl(news?.image)"
              class="img-fluid"
              style="height: 250px; object-fit: cover; border-radius: 0px"
            />
          </div>

          <div style="padding: 15px">
            <p class="news_card1-date mt-3 nw-ttl">
              {{ news?.title }}
            </p>
            <h4 class="news_card1-title descrp_news">
              {{ news?.description }}
            </h4> 
            <!-- <p class="short_descrp_styele">Snax joined Team XO as a professional BGMI player. Although he hinted at it a few times on his live stream, Team XO and Snax made the official announcement today. Raj ‘Snax’ Varma has an impressive history in BGMI competitive scene. He started his BGMI journey with Team Learn From Past, where he had an…</p> -->
            <p class="anchor_readmore">
              <span>READ MORE</span>
              <svg aria-hidden="true" class="kadence-svg-icon kadence-arrow-right-alt-svg" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28"><title>Continue</title><path d="M27 13.953c0 0.141-0.063 0.281-0.156 0.375l-6 5.531c-0.156 0.141-0.359 0.172-0.547 0.094-0.172-0.078-0.297-0.25-0.297-0.453v-3.5h-19.5c-0.281 0-0.5-0.219-0.5-0.5v-3c0-0.281 0.219-0.5 0.5-0.5h19.5v-3.5c0-0.203 0.109-0.375 0.297-0.453s0.391-0.047 0.547 0.078l6 5.469c0.094 0.094 0.156 0.219 0.156 0.359v0z"></path>
              </svg> 
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
